always-auth=true
	strict-ssl=false
	@npm-bbta:registry=https://bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/
	//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:_auth=Zmd1ZXJyM0BiYW5jb2RlYm9nb3RhLmNvbS5jbzpBS0NwOGtxWDh6OGJheWN5Nkhlb2FqWGJ1a2JRRmRHUHJNaVl2cFNDMUdMOEZpazlFZUE5aFFWdVJ3V1hjeTJuckRiYnNNdzVR
